$prefix: 'weapp-map';
.#{$prefix} {
  width: 100%;
  height: 100%;
}

.map-location {
  position: fixed;
  left: 20px;
  bottom: 85px;
  padding: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  z-index: 999;
  .img-location {
    width: 100%;
    height: 100%;
  }
}

.wash-scan {
  position: fixed;
  left: calc(50% - 90px);
  bottom: 50px;
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 50%;
  background-color: #f38031;
  z-index: 999;
  .img-wrap {
    margin: 12px auto 0 auto;
    width: 50%;
    height: 50%;
    .img-scan {
      width: 100%;
      height: 100%;
    }
  }
  .btn-text {
    font-size: 28px;
    color: #fff;
  }
}

.map-store {
  position: fixed;
  right: 20px;
  bottom: 85px;
  padding: 16px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 999;
  .img-store {
    width: 100%;
    height: 100%;
  }
}

.map-site {
  display: flex;
  margin: 24px;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  .site-info {
    flex: 1;
    .name {
      padding: 12px 0;
      color: #333;
      font-size: 32px;
    }
    .attr {
      .tag {
        display: inline-block;
        margin-right: 10px;
        padding: 4px 6px;
        font-size: 24px;
        border-radius: 10px;
        color: #fff;
        background-color: #fa541c;
      }
    }
  }
  .navigation {
    text-align: center;
    .img-box {
      .img {
        width: 50px;
        height: 50px;
        display: inline-block;
      }
    }
    .distance {
      padding: 4px 6px;
      font-size: 28px;
      color: #666;
    }
  }
}