$prefix: 'home-page';
.#{$prefix} {
  width: 100%;
  height: 100%;
  .home-scan {
    position: absolute;
    left: calc(50% - 90px);
    bottom: 50px;
    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 50%;
    background-color: #f38031;
    .img-wrap {
      margin: 12px auto 0 auto;
      width: 50%;
      height: 50%;
      .img-scan {
        width: 100%;
        height: 100%;
      }
    }
    .btn-text {
      font-size: 28px;
      color: #fff;
    }
  }
}