$prefix: 'mall-page';

.#{$prefix} {
  .product-list {
    padding: 20px;

    .product-item {
      position: relative;
      display: flex;
      padding: 6px 0;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;

      .left-img {
        width: 30%;

        .product-img {
          width: auto;
          height: auto;
        }
      }

      .right-content {
        flex: 1;
        padding-left: 20px;

        .product {
          &-name {
            font-size: 32px;
          }

          &-description {
            font-size: 24px;
            color: #666;
          }

          &-price {
            .unit {
              color: #666;
              font-size: 28px;
            }

            .money {
              color: #f47e00;
              padding-right: 20px;
              font-size: 48px;
            }

            .market {
              color: #999;
              text-decoration: line-through
            }
          }
        }
      }

      .btn-cart {
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 14px;
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        border: none;
        background: #00afc7;
      }
    }
  }
}